.guessing-picture {

    max-width: 150px;
    max-height: 150px;

    @include for-tablet-landscape-up {
        height: 150px;
        width: 150px;
    }

    @include for-phone-only {
        height: 150px;
        width: 100px;
    }
}

.image-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-div {
    min-width: 22%;
    margin: 0.5%;
    display: flex;
    justify-content: center;
}